<div class="b-web-console hide">
	<div class="b-web-console__output"></div>

	<div class="b-web-console__input-wrapper">
		<input type="text" class="b-web-console__input" />
	</div>

	<i class="b-web-console__settings-icon"></i>

	<div class="b-web-console__resize"></div>
</div>