<div class="b-web-console__settings-fade">
	<div class="b-web-console__settings">
		<div class="b-web-console__settings__header">
			Settings
			<i class="b-web-console__settings__close"></i>
		</div>

		<div class="b-web-console__settings__content">
			<dl class="b-web-console__settings__item">
				<dt class="b-web-console__settings__item__title">Toggle</dt>
				<dd class="b-web-console__settings__item__value">
					<input type="text" value="{{toggleHotkey}}" placeholder="type shortcut" class="b-web-console__settings__toggle-input"/>
				</dd>
			</dl>

			<dl class="b-web-console__settings__item">
				<dt class="b-web-console__settings__item__title">Limit file size (in lines)</dt>
				<dd class="b-web-console__settings__item__value">
					<input type="text" value="{{limitFileSize}}" placeholder="limit" class="b-web-console__settings__limit-file-size"/>
				</dd>
			</dl>
		</div>
	</div>
</div>